<!DOCTYPE html>
<html ng-app="auctionApp">
<head lang="en">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href="style.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="controllers.js"></script>
    <script src="client.js"></script>
    <title>Manage Auction</title>

    <script>
        function showImg() {
            $("#newimg").attr("src", $("#imgurl").val());
        }
		
		function deleteItem() {
		
			$.ajax({
				type: "",
				url: "https://api.parse.com/1/classes/Item",
				beforeSend: function(xhr){
                    xhr.setRequestHeader('X-Parse-Application-Id', 'WhkQetI8nb0HrIykoaNc8LJ9flHIxOvgaXhFXFxm');
                    xhr.setRequestHeader('X-Parse-REST-API-Key', 'G02koccgg9q6RzqwRmpiQDx3QllASet5iW2XbLob');
                },
				data: ,
				success: function () {
                    location.reload();
                },
                contentType:"application/json; charset=utf-8",
                dataType:"json"
			});
		}
		
        function createItem() {

            var newItem = JSON.stringify(
                    {
                        "name": $("#itemname").val(),
                        "donorname": $("#donorname").val(),
                        "price": parseInt($("#price").val()),
                        "imageurl": $("#imgurl").val(),
                        "description": $("#descriptionbody").val()
                    }
            );

            $.ajax({
                type: "POST",
                url: "https://api.parse.com/1/classes/Item",
                beforeSend: function(xhr){
                    xhr.setRequestHeader('X-Parse-Application-Id', 'WhkQetI8nb0HrIykoaNc8LJ9flHIxOvgaXhFXFxm');
                    xhr.setRequestHeader('X-Parse-REST-API-Key', 'G02koccgg9q6RzqwRmpiQDx3QllASet5iW2XbLob');
                },
                data: newItem,
                success: function () {
                    location.reload();
                },
                contentType:"application/json; charset=utf-8",
                dataType:"json"
            });
        }
    </script>
</head>
<body ng-controller="ItemCardsCtrl">
<div id="container">
    <div id="header">
        AUCTION MONITORING
    </div>
    <div id="content">

        <div class="card left">
            <div class="header" style="background: #999"></div>
            <div style="height: 3px; background: #777"></div>
            <div style="padding: 25px; color: #fff;">
                <table cellPadding="0" cellspacing="10">
                    <tr>
                        <td style="text-align: right">
                            <span class="donor">Raised so far </span></td>
                        <td><span class="title">{{totalRaised | noFractionCurrency}}</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <span class="donor">Bid count </span></td>
                        <td><span class="title">{{bidCount}}</span></td>
                    </tr>
                </table>
                <br/>
                <span class="title">{{mostPopularBidCount}}</span><br/>
                <span class="donor">Most popular by bid count</span>
                <br/><br/>
                <span class="title">{{mostPopularPrice}}</span><br/>
                <span class="donor">Most popular by highest bid</span>
                <br/><br/>
                <span class="title">{{highestGrossing}}</span><br/>
                <span class="donor">Highest Grossing</span>

            </div>
            <div style="height: 3px; background: #777"></div>
            <div class="footer" style="background: #999"></div>
        </div>

        <div class="card right">
            <div class="header" style="background: #999"></div>
            <div style="height: 3px; background: #777"></div>
            <div style="padding: 25px; color: #fff;">
                <table cellPadding="0" cellspacing="10">
                    <tr>
                        <td style="text-align: right">
                            <span class="donor">Number of items </span></td>
                        <td><span class="title">{{itemCount}}</span></td>
                    </tr>

                    <tr>
                        <td style="text-align: right">
                            <span class="donor">items with no bids </span></td>
                        <td><span class="title">{{noBidCount}}</span></td>
                    </tr>
                </table>
                <br/>

                <div ng-repeat="item in items | orderObjectBy:'gross'">
                <span class="title">${{item.gross}}: {{item.name}} <span style="color: #aaa">by {{item.donorname}}</span></span><br/>

                <div class="donor" ng-repeat="bidObj in item.bidObjs">${{bidObj.amt}} by {{bidObj.who}}</div>

                <br/><br/>
                </div>

            </div>
            <div style="height: 3px; background: #777"></div>
            <div class="footer" style="background: #999"></div>
        </div>
		
		<div class="card left">
            <div class="header" style="background: #999"></div>
            <div style="height: 3px; background: #777"></div>
            
			<form action="scripts/readForm.py" method="POST">
				<div class="image" id="imgcontainer" style="text-align: center; position: relative">
					<img id="newimg" src="{{item.imageurl}}" style="position: relative" />
					<input id="imgurl" name="itemImgURL" type="text" placeholder="image url" style="position: absolute; margin-left: 10px; margin-bottom: 10px; left: 0; bottom: 0; right: 0; margin-top: 70px; background: #515359;" onBlur="showImg()" />
					<input type="submit" value="submit item"
						   style="position: absolute; top: 0; right: 0; margin-top: 10px; margin-right: 10px; background: #669900;
						   border: 1px solid #fff;" />
				</div>
				<div style="height: 1px; background: #AAA"></div>
				<div class="infocontainer" style="min-height: 70px;">
					<div class="names">
						<span class="title"><input id="itemname" name="itemName" type="text" class="title" placeholder="item name. keep it short" style="width: 230px;" /></span><br/>
						<span class="donor"><input id="donorname" name="itemDonorName" type="text" class="donor" placeholder="your name. keep it real" style="width: 230px;" /></span></br>
					</div>
					<div class="names">
						<span class="donor"><input id="openDate" name="itemOpenDate" type="date" class="donor" style="width: 230px;" /><label for="openDate" style="color:#AAA;">Open Time</label></span>
						<span class="donor"><input id="openTime" name="itemOpenTime" type="time" class="donor" style="width: 230px;" /></span></br>
						<span class="donor"><input id="closeDate" name="itemCloseDate" type="date" class="donor" style="width: 230px;" /><label for="closeDate" style="color:#AAA;">Close Time</label></</span>
						<span class="donor"><input id="closeTime" name="itemCloseTime" type="time" class="donor" style="width: 230px;" /></span></br>
					</div>
					<div class="bids">
						<span class="winningbid">$<input id="price" type="text" name="itemPrice" class="winningbid" placeholder="$$" style="width: 40px; margin-left: 5px;"/></span><br/>
						<span class="donor">LIST PRICE</span>
					</div>
				</div>

				<div style="height: 1px; background: #AAA"></div>

				<div class="description" id="description" style="max-height: 100px; min-height: 100px;">
					<textarea id="descriptionbody" style="height: 90px;" name="itemDesc" placeholder="talk about your item. this can be as long as you want. the reader's attention span is the limit!"></textarea>
				</div>
			</form>
            <div style="height: 3px; background: #777"></div>
            <div class="footer" style="background: #999"></div>
        </div>
	
		<!-- Old form for adding items -->
		<!--
		<div class="card left">
			<form action="scripts/readForm.py" method="POST">
				
				<label for="itemName">Name:</label>
				<input type="text" name="itemName" id="itemName"/>
				<br />
				
				<label for="itemDesc">Description:</label>
				<textarea name="itemDesc" id="itemDesc" placeholder="Type item description here..."></textarea>
				<br />
				
				<label for="itemDonorName">Donor:</label>
				<input type="text" name="itemDonorName" id="itemDonorName"/>
				<br />
				
				<label for="itemPrice">Opening Price:</label>
				<input type="text" name="itemPrice" id="itemPrice"/>
				<br />
				
				<label for="itemImgURL">Image URL:</label>
				<input type="text" name="itemImgURL" id="itemImgURL"/>
				<br /> <br />
				
				<input type="submit" value="Add Item" />
				<input type="reset" value="Reset" />
			</form>
			
			<div style="height: 3px; background: #777"></div>
		<div class="footer" style="background: #999"></div>
	</div> -->

        <div class="card left" ng-repeat="item in items" ng-class-even="'left'" ng-class-odd="'right'">
            <div class="header"></div>
            <div style="height: 3px; background: #558800"></div>
            <div class="image"style="text-align: center; position: relative">
                <img src="{{item.imageurl}}" style="position: relative" />
                <input type="button" value="remove item" class="removebutton"
                       style="position: absolute; top: 0; right: 0; margin-top: 10px; margin-right: 10px; background: #990000;
                       border: 1px solid #fff;"
                       ng-click="deleteItem(item)"/>
            </div>
            <div style="height: 1px; background: #aaaaaa"></div>
            <div class="infocontainer">
                <div class="names">
                    <span class="title">{{item.name}}</span><br/>
                    <span class="donor">{{item.donorname | uppercase}}</span>
                </div>
                <div class="bids">
                    <span class="winningbid">${{item.price}}</span><br/>
                    <span class="donor">LIST PRICE</span>
                </div>
            </div>

            <div style="height: 1px; background: #aaaaaa"></div>

            <div class="description">
                {{item.description}}
            </div>

            <div style="height: 3px; background: #558800"></div>
            <div class="footer"></div>
        </div>
    </div>
</div>
</body>
</html>